.calculator {
  border: 1px solid #000;
  width: 220px;
  border-radius: 5px;
}

.display {
  margin: 10px;
  width: 195px;
  font-size: 25px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 45px;
  height: 45px;
  margin: 5px;
  font-size: 18px;
}